doctype html
html
  head
    title Shruti Dance Classes 
    block scripts
    block style     
  body
    nav#navbar 
      ul 
        li #[a(href="/") Home]
        li #[a(href="/") About Us]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]

    block content     
    footer#footer  
     | copyright Ⓒ 2021 ShrutiDanceClass.com | All rights are reserved  
     